.form {
  display: flex;
  flex-direction: column;
  margin:5px;
}

.greenBackground{
  background-color: #aed581;
}

.redBackground{
  background-color: #e57373;
}

mat-card-subtitle{
  font-size: 20px;
}
