<div app-theme class="my-2 shadow-lg">
  <div class="innerdiv">
    <mat-card *ngIf="assignmentTransmis" class="container">
      <mat-card-title>
        {{assignmentTransmis.assignment.nom}}
      </mat-card-title>
      <mat-card-subtitle>
        {{"Elève: " + assignmentTransmis.eleve.first_name + " " + assignmentTransmis.eleve.last_name}}
      </mat-card-subtitle>

      <div>
        <button class="btn btn-primary" color="primary" (click)="openGradeDialog()">NOTER</button>
        <button class="mx-2 btn btn-danger" (click)="openDeleteDialog()">DELETE</button>
      </div>
    </mat-card>
    </div>
</div>
