.rendu {
  color: green;
  border: 1px solid green;
  padding: 5px;
}

.nonrendu {
  color: red;
  background-color: yellow;
  border: 2px dashed orange;
  padding: 5px;
}

.gros {
  font-size: 20px;;
}

.container {
  display: flex;
  flex-direction: column;
}

.ajouterBtn {
  align-self: flex-end;
 }

.mat-row:hover {
  background-color: lightblue;
  cursor: pointer;
}

.mat-success {
  background-color: green;
  color: #fff;
}

button{
  margin: 10px;
}

.mat-cell.greenText {
  color: #43a047;
}

.mat-cell.redText{
  color: #e53935;
}
