<!-- BARRE DE MENU -->
<div app-theme xmlns:font-size="http://www.w3.org/1999/xhtml">
  <div class="main container">

  <mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <span (mouseleave)="menuTrigger.closeMenu()">
          <span> Dark Mode </span>
          <label class="switch">
            <input type="checkbox" (click)="toggle()" >
            <span class="slider round"></span>
          </label>
      </span>
    </mat-menu>

    <h1 [routerLink]="['/home']">{{title}}</h1>
    <span class="menu-spacer"></span>

    <label *ngIf="user !== undefined">{{this.user.first_name}} {{this.user.last_name}}</label>

    <div *ngIf="user === undefined">
      <button mat-raised-button (click)="openConnexionDialog()"> Login </button>
      <button mat-raised-button> Register </button>
    </div>

    <div *ngIf="user !== undefined">
      <button mat-raised-button (click)="disconnect()"> Disconnect </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- router-outlet désigne le composant défini par le routeur -->
<router-outlet></router-outlet>
  </div>
</div>
