<!-- BARRE DE MENU -->
<main app-theme xmlns:font-size="http://www.w3.org/1999/xhtml">
  <div class="main container">

  <mat-toolbar class="shadow-lg" color="primary">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (click)="menuTrigger.openMenu()">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <div *ngIf="user !== undefined">
        <picture>
          <source [srcset]=this.user.picture>
          <img id="userImage" mat-card-image alt="Photo:" class="imageContainer">
        </picture>
        <br />
        <p id="userName">{{this.user.first_name}} {{this.user.last_name}}</p>

        <hr />
      </div>

      <div class="mx-2 align-middle">
        <span>Dark Mode</span>
        <label class="switch">
          <input type="checkbox" (click)="toggle()">
          <span class="slider round"></span>
        </label>
      </div>
    </mat-menu>

    <h1 [routerLink]="['/home']">{{title}}</h1>
    <span class="menu-spacer"></span>

    <label *ngIf="user !== undefined" class="mx-2">{{this.user.first_name}} {{this.user.last_name}}</label>

    <button *ngIf="user === undefined" mat-raised-button (click)="openConnexionDialog()"><i class="bi bi-door-open-fill"></i> Login</button>

    <div *ngIf="user !== undefined">
      <button mat-raised-button (click)="disconnect()"><i class="bi bi-door-closed-fill"></i>  Disconnect</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- router-outlet désigne le composant défini par le routeur -->
<router-outlet></router-outlet>
  </div>
</main>
