<main class="my-3 row">
  <section class="col-sm-9">
    <h3>Mode d'emploi du nouveau système de note de l'Université Côte D'Azur</h3>
    <br>
    <i>Comment l'utiliser ?</i>
    <br>
    <br>
    <em>
      <p>
        Comme première étape, connectez-vous à l'aide de vos identifiants de connexion.
        <br>
        <br>
        C'est fait ? EXCELLENT !
      </p>
      Désormais vous arrivez sur la page d'accueil, sur le menu en haut à gauche, vous pouvez voir:
      <ul>
        <li>Votre nom</li>
        <li>Votre prénom</li>
        <li>Votre photo</li>
        <li>Activer le "Dark Mode"</li>
      </ul>
    </em>

    <b>Si vous êtes un élève:</b>
    <br>
    Vous aurez la possibilité de:
    <ul>
      <li>Voir vos devoirs non rendus</li>
      <li>Voir vos devoirs rendus</li>
      <li>Rendre vos devoirs</li>
    </ul>

    <b>Si vous êtes un professeur:</b>
    <br>
    Vous pourrez en plus,
    <ul>
      <li>Voir les données des devoirs</li>
      <li>Ajouter, éditer et supprimer des devoirs</li>
      <li>Noter des devoirs</li>
    </ul>
  </section>

  <section id="cf" class="col-sm-3">
      <img class="shadow-lg top" id="illustrationImage" src="../../assets/illustrationImage.jpg" mat-card-image alt="Photo:" class="imageContainer">
  </section>
</main>
