:host {
  display: block;
}

img{
  max-width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition:         transform .8s ease-in-out;
}

img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
