<header>
  <b>Mode d'emploi du nouveau système de note de l'Université Côte D'Azur</b>
</header>
<br>
<i>Comment l'utiliser ?</i>
<br>
<br>
<em>
  Comme première étape, munissez-vous de vos identifiants de connexion.
  <br>
  <br>
    Vous avez deux possibilités:
    <br>
      -Vous pouvez vous connecter à l'aide de votre identifiant et de votre mot de passe
    <br>
      -Vous pouvez vous créer un compte.
  <br>
  <br>
  C'est fait ? excellent !
  <br>
  <br>
  Désormais vous arrivez sur la page d'accueil, sur le menu en haut à gauche, vous pouvez voir:
  <br>
  <br>-Votre nom,
  <br>-Votre prénom,
  <br>-Votre photo,
  <br>-Activer le "Dark Mode"
</em>
<br>
<br>
<b>Si vous êtes un élève:</b>
<br>
Vous allez pouvoir observer:
<br>-vos devoirs non rendu,
<br>-vos devoirs rendu
<br>
<br>
<b>Si vous êtes un professeur</b>
<br>
Vous pourrez en plus,
<br>
-voir les données des devoirs,
<br>
-en donner.
<br>-vous pouvez, en cliquant sur un des devoirs,
<br>-le noter (ou le supprimer si vous voulez que l'étudiant ait 0)
<br>
<br>
<br>
<br>
